.viewport {
  position: absolute;
  inset: 0 -10px 0 0;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;
  scrollbar-width: auto;
}

.viewport::-webkit-scrollbar { width: 10px; }
